body {
    overflow: hidden;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 16px !important;
    width: 100%;
    height: 100vh;
    background: url(../images/smart-beta.jpg) no-repeat;
    background-size: cover;
    min-width: 300px;
}
.sign_in {
    color: #fff;
    text-align: center;
    margin-top: 125px;
}
.login_cont {
    padding: 30px 20px 20px 20px;
    background: rgba(0,0,0,0.4);
}
.login_cont .form-group {
    position: relative;
}
.login_cont .form-control {
    border: 0px;
    border-radius: 0px;
    background: transparent;
    box-shadow: unset;
    padding: 0;
}
.login_cont .form_inputs {
    border-bottom: 1px solid #fcd736;
    color: #66afe9;
    padding: 0 25px 0 10px;
}
.form-group {
    margin-bottom: 5px !important;
}
.fa {
    color: #fcd736;
    transition: all 0.5s;
}
.fa-envelope:before {
    position: absolute;
    top: 9px;
    right: 5px;
}
.fa-unlock-alt:before {
    position: absolute;
    top: 9px;
    right: 8px;
}
.fa:hover {
    color: #66afe9;
}
.login_cont .form-control:focus {
    box-shadow: unset !important;
}

.login_cont .form_inputs::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fcd736;
    font-size: 16px;
}
.login_cont .form_inputs::-moz-placeholder { /* Firefox 19+ */
  color: #fcd736;
    font-size: 16px;
}
.login_cont .form_inputs:-ms-input-placeholder { /* IE 10+ */
  color: #fcd736;
    font-size: 16px;
}
.login_cont .form_inputs:-moz-placeholder { /* Firefox 18- */
  color: #fcd736;
    font-size: 16px;
}
.login_cont label {
    color: #fcd736;
}
.login_cont button {
    background: #fcd736;
    border: 0px;
    box-shadow: unset;
    text-shadow: unset;
    margin-top: 20px;
    transition: background 0.5s;
    padding: 5px 20px;
}
.login_cont button:hover,
.login_cont button:focus,
.login_cont button:active {
    background-color: #66afe9 !important;
    color: #fff;
}
/*!* checkbox styles *!*/
.squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  background: #fcfff4;
  background: rgba(255,255,255,0.3);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredOne label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredOne .checkbox_lbl {
    color: #fcd736;
    position: absolute;
    top: 4px;
    left: 37px;
    width: 150px;
}
.squaredOne label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fcd736;
  background: -webkit-linear-gradient(top, #fcd736 0%, #e2c12f 100%);
  background: linear-gradient(to bottom, #c6a929 0%, #bca025 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.squaredOne label:hover::after {
  opacity: 0.3;
}
.squaredOne input[type=checkbox] {
  visibility: hidden;
}
.squaredOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/*!* end checkbox styles *!*/

.links_cont {
    width:300px;
    margin-top: 5px;
}
.links_cont a {
    color: #66afe9;
    font-weight: 400;
}
.links_cont a:last-child {
    margin-left: 20px;
}

@media only screen and (max-width: 400px) {
    .login_cont {
        margin-left: 0 !important;
        width: 100% !important;
    }
}








