body {
    min-width: 300px;
}
.login_cont {
    width: 600px;
}
.sign_in {
    margin-top: 60px;
}
.links_cont {
    width:300px;
    margin-left: -10px;
    margin-top: 7px;
}
.form-group {
    margin-bottom: 5px;
}
.gender_cont_wrapper {
    margin-bottom: 10px;
    border-bottom: 1px solid #fcd736;
    padding-bottom: 5px;
}
.data_wrapper {
    margin-bottom: 10px;
    border-bottom: 1px solid #fcd736;
    padding-bottom: 5px;
}
.data_wrapper label {
    margin-right: 20px;
}
.data_wrapper input {
    margin-left: 5px;
    background: transparent;
    border-color: #555;
    color: #eee
}
.data_wrapper input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fcd736;
    font-size: 16px;
}
@media only screen and (max-width: 1205px) {
    .data_wrapper label {
        margin-right: 1px;
    }
    .data_wrapper input {
        padding-left: 0 !important;
    }
}




















